<div class="row login-content">
	<div class="col l12">
		<div class="row">
			<div class="input-field col l12">
				<input id="username" type="text" class="validate">
				<label for="username">
					Username
				</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col l12">
				<input id="password" type="password" class="validate">
				<label for="password">
					Password
				</label>
			</div>
		</div>
	</div>
	<div class="col l12">
		<div class="row">
			<div class="col l6 center">
				<a href="/myproject" class="btn waves-effect waves-light login-btn brown darken-1">
    				Sign-in
				</a>
			</div>
			<div class="col l6 center">
				<a href="/register" class="btn waves-effect waves-light login-btn brown darken-1">
    				Sign-up
				</a>
			</div>
	</div>
</div>
