{% extends "base.html" %}
{% block content %}
<nav>
	<div class="nav-wrapper light-blue">
    	<a href="#" class="brand-logo">
			Registeration
		</a>          
    </div>
</nav>
	<div class="row">
    	<form class="col l12">
        	<div class="row">
              	<div class="input-field col l12">
                	<input id="username" type="text" class="validate">
                	<label for="username">
						Username
					</label>
            		</div>
              	<div class="input-field col l12">
                	<input id="password" type="password" class="validate">
                	<label for="password">
						Password
					</label>
              		</div>
            	<div class="input-field col l12">
              		<input id="first_name" type="text" class="validate">
              		<label for="first_name">
						Name
					</label>
            		</div>
          		<div class="input-field col l12">
            		<input id="email" type="email" class="validate">
            		<label for="email">
						Email
					</label>
            		</div>
          		<a class="waves-effect waves-light btn blue darken-1">
					Register
				</a>
		  		<a class="waves-effect waves-light btn blue darken-1" href="/">
					Cancle
				</a>
    		</div>    
		</form>
	</div>
{% endblock %}

